vpc_id = "vpc-0179746bb715958fc"
subnet_id = "subnet-0cc63934ab77cb22a"
all_bootcamp_sg = "sg-08d44cc6c904b8603"
bootcamp-key-name = "your-name-key"
jumphost-name = "your-name-jumphost"
owner_email = "youremail@example.com"
owner_name = "Yourname"
region = "us-east-1"
external-security-group-name = "yourname-external-sg"
