vpc_id = ""
subnet_id = ""
all_bootcamp_sg = ""
bootcamp-key-name = ""
jumphost-name = "myname-jumphost"
owner_email = "sven@confluent.io"
owner_name = "Sven Erik Knop"
region = "eu-west-1"
external-security-group-name = "sven-external-sg"