vpc_id = "<enter-vpc-id-here>"
subnet_id = "<enter-subnet-here>"
all_bootcamp_sg = "<enter-security-group-to-access-vpc-here>"
bootcamp-key-name = "<specify>"
jumphost-name = "<yourname-jumphost>"
owner_email = "youremail@example.com"
owner_name = "<yourname>"
region = "<your-aws-region>"
external-security-group-name = "<yourname>-sg"
